.navImagen{
    width: 20vw;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.carouselHero{
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.containerHero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.containerTexto{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.containerTexto h1, 
.containerTexto h2{
    text-align: center;
    background-color: #343a40c0;
    width: 100%;
}

.carouselHero h3{
    text-align: start;
    padding: 0.5vw 0 0.5vw 0.5vw;
}

.containerTexto h1, p.citiesCallToAction{
    font-size: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.containerTexto h2{
    padding: 1vh 1vw;
    font-size: 2vw;
}

p.citiesCallToAction{
    text-decoration: none;
    color: black;
}

.mainCallToAction{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2vw 0px;
}

.divCallToAction{
    min-width: 80%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.divCallToAction p{
    font-size: 5vw;
    font-weight: bold;
    text-decoration: none;
}

.divLogoCallToAction{
    color: black;
    min-width: 15vw;
    min-height: 20vh;
}

.buttonCallToAction{
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 2vw;
    border:1px solid black;
    padding-right: 1rem;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.521);
    text-decoration: none;
}

.containerCarrousel h2{
    color: white;
    text-align: center;
    padding: 1vw 0px;
}

.slideCarrousel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slideCity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.521);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 30vw;
    height: 40vh;
}

.slideCity:hover, .buttonCallToAction:hover {
    transform: scale(1.03);
    text-decoration: none;

}

.slideCity h3 {
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    width: 100%;
    text-align: center;
    padding: 2vh 0;
    font-size: 3vw;
}

footer.footer{
    padding-top: 2em;
    min-height: 40vh;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header.styleFooter{
    background: #343a40;
}

footer.footer header.styleFooter{
    background-color: #491b2559;
}

div ul.ul-fb li{
    display: block;
    margin: 0 0.5vw;
    min-width: 4vw;
    min-height: 4vh;
    text-align: center;
}

div ul.ul-fb li button{
    display: block;
    color: #fff;
    line-height: 4vw;
    font-size: 1.5vw;
    transition: .2s;
}

div ul.ul-fb li button:hover{
    transform: translateY(-3px) scale(1.05);
}

footer nav,div ul.ul-fb{
    padding: 0;
}

.facebook{
    background: #0572e6;
}

.instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}

footer div.containerSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 50%; */
}

footer div.containerSocial h2{
    color: white;
    font-size: 2.5vw;
}

#root{
    background-color: #343a40;
}

.gitHub{
    background: black;
}

.usuario{
    width: 2.5em;
    height: 2.5em;
    background-size: cover;
    border-radius: 100%;
    background-position: 50%;
}

.redesSociales{
    font-size: 4vw!important;
}

.deepFooter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.location h4{
    font-size: 2vw;
    text-align: center;
}

@media (max-width: 800px) {
    footer div.containerSocial h2{
        color: white;
        font-size: 7vw;
        transition: all 2s;
    
    }
    div ul.ul-fb{
        width: 50%;
        transition: all 2s;
    
    }
    div ul.ul-fb li{
        min-width: auto;
        min-height: auto;
        transition: all 2s;
    
    }
    .redesSociales{
        font-size: 10vw!important;
        transition: all 2s;
    }
    .containerSocial{
        padding-top: 5vw;
        transition: all 2s;
    }

    .containerCarrousel{
        margin-top: 2em;
        transition: all 2s;

    }
    
    .containerTexto h1{
        font-size: 12vw;
        transition: all 2s;

    }
    .containerTexto h2{
        font-size: 2.5vw;
        transition: all 2s;

    }
    .buttonCallToAction{
        align-self:center;
        width: 80%;
        height: 30%;
        justify-content: space-around;
        align-items: center;
        transition: all 2s;


    }
    .buttonCallToAction p{
        margin: 0;
        transition: all 2s;

    }
    .divCallToAction{
        justify-content: space-around;
        transition: all 2s;

    }
    .divCallToAction p{
        font-size: 6vw;
        transition: all 2s;

    }
}

@media (max-width: 500px){
    .slideCity h3{
        font-size: 5vw;
        transition: all 2s;
        
    }
    .buttonCallToAction{
        height: 20%;
        transition: all 2s;
    }
}

@media (max-width: 360px){
    .slideCity{
        min-width: 100%;
        transition: all 2s;
    }
    .slideCarrousel {
        min-width: 80%;
        transition: all 2s;
    }
    .buttonCallToAction{
        max-height: 10vh;
        max-width: 45vw;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        transition: all 2s;
    }
    .containerCarrousel{
        margin-top: 2em;
        transition: all 2s;
    }
    .containerTexto h1{
        font-size: 12vw;
        transition: all 2s;
    }
    .containerTexto h2{
        font-size: 2.5vw;
        transition: all 2s;
    }
}