body{
    font-family: 'Varela Round', sans-serif!important;
}

.carouselHero{
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content:flex-end;
}

.containerHero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.containerTexto{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.containerTexto h1, 
.containerTexto h2,
.notFound h2{
    text-align: center;
    background-color: #343a40c0;
    width: 100%;
}

.containerTexto h1, p.citiesCallToAction{
    font-size: 10vw;
}

.containerTexto h2{
    padding: 1vh 1vw;
    font-size: 2vw;
}

p.citiesCallToAction{
    text-decoration: none;
    color: black;
}

.mainCallToAction{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2vw 0px;
}

.divCallToAction{
    min-width: 80%;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.divCallToAction p{
    font-size: 5vw;
    font-weight: bold;
    text-decoration: none;
}

.divLogoCallToAction{
    color: black;
    min-width: 15vw;
    min-height: 20vh;
}

.buttonCallToAction{
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 2vw;
    border:1px solid black;
    padding-right: 1rem;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.521);
    text-decoration: none;
}

.containerCarrousel h2{
    color: white;
    text-align: center;
    padding: 1vw 0px;
}

.slideCarrousel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slideCity, .city , .buttonItenerari{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.521);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 30vw;
    height: 40vh;
    border-radius: 4px;
}

.slideCity:hover, .buttonCallToAction:hover, .city:hover,
.buttonItenerari:hover {
    transform: scale(1.03);
    text-decoration: none;
}

.slideCity h3, .city h3 , .buttonItenerari h3, .chosenCity h3{
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    width: 100%;
    text-align: center;
    padding: 2vh 0;
    font-size: 3vw;
}

footer.footer{
    min-height: 35.3vh;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header.styleFooter{
    background: #343a40;
    margin: 0 5%;
}

footer.footer header.styleFooter{
    background-color: #491b2559;
    margin: 0;
}

footer.footer header.styleFooter .navbar-collapse{
    width: 15%;
}

footer.footer header.styleFooter .usuario, .carousel button,footer.footer header.styleFooter h6.name{
    display: none!important;
}

div ul.ul-fb li, div ul.ul-fb li button{
    display: block;
}

div ul.ul-fb li{
    margin: 0 0.5vw;
    text-align: center;
}

div ul.ul-fb li button{
    color: #fff;
    transition: .2s;
    border: 0;
    border-radius: 10px;
}

div ul.ul-fb li button:hover{
    transform: translateY(-3px) scale(1.05);
}

footer nav,div ul.ul-fb{
    padding: 0;
}

.facebook{
    background: #0572e6;
}

.instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}

footer div.containerSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

footer div.containerSocial h2{
    color: white;
    font-size: 2vw;
}

#root{
    background-color: #343a40;
}

.gitHub{
    background: black;
}

.usuario, .picUser{
    width: 2.5em;
    height: 2.5em;
    background-size: cover;
    border-radius: 100%;
    background-position: center;
}

.redesSociales{
    font-size: 2vw!important;
}

.deepFooter{
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: white;
    padding: .5rem 1rem;
}
.location{
    width: 25%;
}
.location h4{
    font-size: 1.5vw;
    text-align: center;
}

.logo-avion{
    font-size: 6vw!important;
    color: #7198b5;
}

.logoHeader{
    display: flex;
    align-items: center;
}

.logoHeader h2,.logoFooter h2{
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 3vw;
    margin: 0;
}

.logoHeader .logoGral, .logoCities{
    font-size: 5vw!important;
    color: #7198b5;
    margin-right: 15px;
}

.logoCities{
    font-size: 10vw!important;
}

.logoFooter{
    display: flex;
    align-items: center;
}

.navLink{
    text-decoration: none!important;
    color: #9c9fa1;
}

.navLink:hover{
    color: #7198b5;
}

.imakzv{
    margin: 0!important;
}

.stamp {
    transform: rotate(12deg);
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-weight: 700;
    border: 0.25rem solid rgb(0, 0, 0);
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    border-radius: 1rem;
    font-family: 'Courier';
    -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
    -webkit-mask-size: 944px 604px;
    mix-blend-mode: multiply;
    margin-top: 1em;
    margin-right: 1em;
    height: 10vh;
}

.city{
    width: 40%;
}

.allCities, .inputCities{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.inputCities{
    flex-direction: column;
    align-items: center;
}
.inputCities input{
    margin-bottom: 4vh;
    width: 30%;
    border: none;
    border-radius: 3px;
    padding: 1vh;
    outline: none;
}

.inputCities input::placeholder{
    color: black;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;

}
.preloader,.notFound{
    display: flex;
    justify-content: center;
}
.preloader{
    width: 100%;
}

.notFound{
    flex-direction: column;
    width: 70%;
    background-color: #7198b5;
    color: white;
}

.navbar-collapse{
    width: 25%;
}

.itinarie{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.itinarie .city, .buttonItenerari{
    align-self: center;
}

.buttonItenerari{
    margin: 2em 0;
    height: 10vh;
    width: 40%;
}

.chosenCity{
    width: 80%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    align-self: center;
    display: flex;
    margin-top: 2rem;
    border-radius: 4px;
}

.chosenCity h3{
    align-self: center;
}
.logoButtonItenerari{
    font-size: 4vw!important;
}

.serverError{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.serverError h1{
    color: white;
    align-self: center;
}
.servidor{
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh;
    align-self: center;
    margin-bottom: 2em;
}

.itineraryContent, .under{
    align-self: center;
    color: white;
    width: 80%;
    background-color: #212529;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;

}
.under h3{
    text-align: center;
}
.activitiesContent{
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    border: 10px solid black;
    border-radius: 12px;
    width: 90%;
}
.activitiesContent > h3,
.comments > h3{
    background-color: black;
    width: 100%;
    text-align: center;
    
}
.comments{
    display: flex;
    flex-direction: column;
    border: 10px solid black;
    border-radius: 12px;
    width: 90%;
    align-items: center;
    margin-top: 10px;
    position: relative; 
}
.divComments{
    overflow-y: auto;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.icon{
    cursor: pointer;
}

.divComments .commentContent{
    align-self: flex-start;
    max-width: 90%;
}
.commentOne{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.commentOne > div{
    display: flex;
}
.commentOne > div > h5{
    font-size: 1.2rem
}

.picUser{
    margin-right: 5px;
}
.inputComment,.buttonComment{
    border: none;
    border-radius: 3px;
    padding: 1vh;
    outline: none;
}
.inputComment{
    width: 90%;
}


.boton,.buttonComment{
    border-radius: 8px;
    background-color: #daf0ff;
}
h5.comentario{
    margin: 5px 0px 5px 5px;
    height: auto;
    word-wrap: break-word;
}
.commentContent{
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
    margin: 5px 5px;
    box-shadow: 4px 4px 12px rgb(0 0 0 / 43%);
}

.sendContent{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.activity{
    background-size: cover;
    background-position: center;
    min-width: 12rem;
    width: 15vw;
    height: 20vh;
    box-shadow: 4px 4px 12px rgb(0 0 0 / 43%);
    border-radius: 4px;
    margin: 2vh 1vh;
}
.activity > div > h6{
    padding: 2px;
    text-align: center;
    margin-top: 2px;
}
.activity > div{
    height: 35%;
    background-color: #212529c0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itineraryContent > h5{
    text-align: center;
}
.userImage {
    width: 7vw;
    height: 7vw; 
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.valoration div{
    margin-right: 15px;
}

.valoration, .hashtag{
    display: flex;
    justify-content: space-between;
    min-width: 25%;
    align-items: center;
}
.hashtag{
    display: flex;
    flex-wrap: wrap;
    min-width: none;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
}
.valoration button{
    border: none;
    background-color:#212529;
}

.hashtag button{
    border: none;
    background-color:#212529;
    margin-right: 10px;
    color: #0572e6;
}
.heart:hover{
    color: red!important;
    cursor: pointer;
}
.heartRed{
    color: red!important;
    cursor: pointer;

}

.diner{
    color: green!important;
}
.watch{
    color:#7198b5 ;
}
.butonIsOpen{
    border-radius:4px;
    background-color: #daf0ff;
    margin: 10px 0px;
}
.itineraryContent > h3{
    font-size: 4vw;
    text-align: center;
    margin-top: 5px;
}
.modalHashtag{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom:1px solid white;
}

.modalHashtag h3{
    text-align: center;
}

.modalContent{
    background-color:#343a40;
    color: white;
}
div.form,div.form form{
    display: flex;
    flex-direction: column;
}
.divFormContent{
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.form{
    align-items: center;
    width: 30%;
    box-shadow: 0px 0px 28px #343a40cb;
    border-radius: 12px;
    padding: 10px;
    margin: 20px 0px;
    background-color: #343a40cb;
}
div.signInContent{
    margin: 50px 0px;
}
.logoForm{
    color: #7198b5!important;
    font-size: 8vw!important;
}
div.form h1{
    color: white;
}

div.form form{
    width: 100%;
}

.btn-google{
    align-self: center!important;
}

div.form form.form{
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: space-between;
}

div.form form *:not(h6){
    border-radius: 4px;
    margin-bottom: 10px;
    height: 7vh;
}
div.form form h6{
    color: rgb(226, 2, 2);
}
form div.input h6, .account{
    color:white;
}
div.form form button{
    border: 3px solid #343a40;
}

.dropdown-menu{
    position: absolute!important;
    display: flex!important;
    flex-direction: column!important;
    background-color: #343a40!important;
}

.dropdown-toggle::after{
    margin-left: 1.7rem!important;
    color: white!important;
}

.eyeSignUp{
    position: absolute;
    right: 2%;
    cursor: pointer;
}

div.password{
    position: relative;
}

div.password input{
    width: 100%;
}

.navDrop{
    min-width: 10vw;
    position: absolute;
    top: 100%;
    z-index: 5;
    padding: 10px;
    left: 0;    
}
.iconDrop{
    color: white;
    position: absolute;
    left: 75%;
    font-size: 3vw!important;
    margin-left: 5px;
}
h6.h6{
    padding-top: 10px;
    cursor: pointer;
}
.dropContent{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

h6.name{
    margin-bottom: 0;
    color: white;
}

.usuarioContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign{
    color: white;
    font-weight: bold;
}

.deleteEdit{
    cursor: pointer;
    
}

.editIcon{
    margin-left: 5px;
}
.curser{
    cursor: pointer!important;
}
.sinComentarios{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #41759c;
}
.closeIcon{
    margin-left: 50px;
}
.commentsEdit{
    display:flex;
    margin: 5px 0px;
}
@media (max-width: 991px){
    .logoForm{
        font-size: 10vw!important;
    }
    div.form{
        width: 40%;
    }

    .navbar-collapse {
        position: absolute!important;
        top: 100%!important;
        z-index: 1000!important;
        min-width: 10rem!important;
        padding: .5rem 0!important;
        font-size: 1rem!important;
        color: #212529!important;
        background-color: #343a40;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        width: 100%!important;
        margin-top: -5px!important;
    }
    .userImage {
        width: 10vw;
        height: 10vw;
        transition: all 2s;
    }
    .navDrop{
        min-width: 15vw;
    }
    .iconDrop{
        margin-left: 4px;
    }
}
@media (max-width: 800px) { 
    .logoForm{
        font-size: 14vw!important;
    }
    .userImage {
        width: 12vw;
        height: 12vw;
        transition: all 2s;
    }
    .stamp{
        height: 8vh;
    }   
    footer div.containerSocial{
        margin: 0;
    }
    div ul.ul-fb{
        width: 50%;
        transition: all 2s;
    }
    div ul.ul-fb li{
        min-width: auto;
        min-height: auto;
        transition: all 2s;
    }
    .redesSociales{
        font-size: 4vw!important;
        transition: all 2s;
    }
    .containerSocial{
        padding-top: 5vw;
        transition: all 2s;
    }
    .containerCarrousel{
        margin-top: 2em;
        transition: all 2s;
    }
    .containerTexto h1{
        font-size: 12vw;
        transition: all 2s;
    }
    .containerTexto h2{
        font-size: 2.5vw;
        transition: all 2s;
    }
    .buttonCallToAction{
        align-self:center;
        width: 80%;
        height: 30%;
        justify-content: space-around;
        align-items: center;
        transition: all 2s;
    }
    .buttonCallToAction p{
        margin: 0;
        transition: all 2s;
    }
    .divCallToAction{
        justify-content: space-around;
        transition: all 2s;
    }
    .divCallToAction p{
        font-size: 6vw;
        transition: all 2s;
    }
    .redesSociales{
        font-size: 5vw!important;
        transition: all 2s;
    }
    .logoFooter{
        flex-direction: column;
    }
    .logo-avion{
        font-size: 12vw!important;
    }
    .logoFooter h2{
        font-size: 5vw;
    }
    footer div.containerSocial h2{
        color: white;
        font-size: 5vw;
        transition: all 2s;
    }
    .location h4{
        font-size: 3.5vw;
    }
    .logoHeader h2{
        font-size: 4vw!important;
        margin-right: 10px;
    }
    
    .logoHeader .logoGral{
        font-size: 8vw!important;
    }
    div.form{
        width: 50%;
    }
    
}

@media (max-width: 700px) {
    .chosenCity h3{
        font-size: 4vw;
    }
    .userImage {
        width: 12vw;
        height: 12vw;
        transition: all 2s;
    }
    div.form{
        width: 60%;
    }
    .navDrop{
        min-width: 18vw;
    }
    .iconDrop{
        margin-left: 6px;
    }
}
@media (max-width: 530px){
    .inputComment::placeholder{
        font-size: 3vw;
    }

}

@media (max-width: 500px){
    .inputComment::placeholder{
        font-size: 2.8vw;
    }
    .navDrop{
        min-width: 22vw;
    }
    .iconDrop{
        margin-left: 8px;
        font-size: 6vw!important;
    }
    .logoForm{
        font-size: 18vw!important;
    }
    div.form{
        width: 75%;
    }
    .itineraryContent > h3{
        font-size: 6vw;
        text-align: center;
    }
    .allCities{
        flex-direction: column;
        align-items: center;
    }
    .allCities .city{
        width: 90%;
    }
    .city h3{
        font-size: 8vw;
    }
    .inputCities input{
        width: 50%;
    }
    .logoCities{
        font-size: 20vw!important;
    }
    .stamp{
        height: 6vh;
    }  
    .slideCity h3{
        font-size: 5vw;
        transition: all 2s;
        
    }
    .buttonCallToAction{
        height: 20%;
        transition: all 2s;
    }
    .redesSociales{
        font-size: 5vw!important;
        transition: all 2s;
    }
    .logo-avion{
        font-size: 15vw!important;
    }
    footer div.containerSocial h2{
        color: white;
        font-size: 5vw;
        transition: all 2s;
    }
    .location h4{
        font-size: 3.5vw;
        transition: all 2s;
    }
    .logoHeader h2{
        font-size: 5vw!important;
        margin-right: 10px;
    }
    
    .logoHeader .logoGral{
        font-size: 8vw!important;
    }
    .dropdown{
        margin-left: 20px;
    }

}
@media (max-width: 450px){
    .valoration{
        flex-direction: column;
    }
    .valoration div:nth-child(2){
        margin: 10px 0px;
    }
    .inputComment::placeholder{
        font-size: 3.5vw;
    }
    .under{
        width: 95%
    }
}
@media (max-width: 400px){
    .inputComment::placeholder{
        font-size: 3.2vw;
    }
    .navDrop{
        min-width: 25vw;
    }
    .iconDrop{
        margin-left: 8px;
        font-size: 6vw!important;
    }
    .logoForm{
        font-size: 22vw!important;
    }
    div.form {
        width: 90%;
    }
    .chosenCity h3, .buttonItenerari h3, .logoButtonItenerari{
        font-size: 8vw!important;
    }
    
    .userImage {
        width: 20vw;
        height: 20vw;
        transition: all 2s;
    }
    .dropdown{
        margin-left: auto;
    }
    .logoHeader{
        width: 25%;
    }
    .collapsed{
        width: 25%;
    }
    button.navbar-toggler{
        width: 25%;
    }
}
@media (max-width: 375px){
    .slideCity{
        min-width: 100%;
        transition: all 2s;
    }
    .slideCarrousel {
        min-width: 100%;
        transition: all 2s;
    }
    .under{
        width: 98%;
    }
}

@media (max-width: 360px){
    .navDrop{
        min-width: 25vw;
    }
    .iconDrop{
        margin-left: 8px;
        font-size: 6vw!important;
    }
    .usuario{
        margin-right: 10px;
    }
    .stamp{
        height: 5vh;
    }  
    .slideCity{
        min-width: 100%;
        transition: all 2s;
    }
    .slideCarrousel {
        min-width: 100%;
        transition: all 2s;
    }
    .buttonCallToAction{
        max-height: 10vh;
        max-width: 45vw;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        transition: all 2s;
    }
    .containerCarrousel{
        margin-top: 2em;
        transition: all 2s;
    }
    .containerTexto h1{
        font-size: 12vw;
        transition: all 2s;
    }
    .containerTexto h2{
        font-size: 2.5vw;
        transition: all 2s;
    }
    .redesSociales{
        font-size: 5vw!important;
        transition: all 2s;
    }
    .logo-avion{
        font-size: 15vw!important;
    }
    footer div.containerSocial h2{
        color: white;
        font-size: 5vw;
        transition: all 2s;
    }
    .location h4{
        font-size: 3.5vw;
    }

    .logoHeader h2{
        font-size: 5vw!important;
        margin-right: 10px;
    }
    
    .logoHeader .logoGral{
        font-size: 10vw!important;
    }
    footer.footer header.styleFooter{
        padding: 20px;
    }
    footer.footer header.styleFooter button{
        margin: 0;
    }
}

.navBarCollapse{
    z-index: 10!important;
}

@media (max-width: 350px){
    .itineraryContent, .chosenCity{
        width: 95%;
    }
.commentOne > div > h5 {
    text-align: center;
    font-size: 1rem;
}
    .navDrop{
        min-width: 28vw;
    }
    .iconDrop{
        margin-left: 8px;
        font-size: 6vw!important;
    }
    .usuario{
        margin-right: 15px;
    }
    div.form{
        width: 98%;
    }
    .dropdown{
        margin-left: 75px;
    }
}

@media (max-width: 320px){
    .inputComment::placeholder{
        font-size: 3vw;
    }
    .navDrop{
        min-width: 30vw;
    }
    .iconDrop{
        margin-left: 8px;
        font-size: 8vw!important;
    }
    .usuario{
        margin-right: 15px;
    }
    .navbar{
        padding:0.5em 0px!important;
    }
    button.navbar-toggler{
        margin: auto;
    }
    div.input h6{
        font-size: 4.5vw;
    }
}
@media (max-width: 300px){
    .itineraryContent, .chosenCity{
        width: 95%;
    }
    input.image::placeholder{
        font-size: 5.2vw;
    }
    div.form form h6, div.form form.form h6{
        font-size:5.2vw ;
    }
    div.input h6{
        font-size: 4vw!important;
    }
    .navDrop{
        min-width: 40vw;
    }
    .iconDrop{
        margin-left: 8px;
        font-size: 10vw!important;
    }
    .usuario{
        margin-right: 15px;
    }
}

.navbar-collapse{
    flex-grow: 0!important;
}