.navImagen{
    width: 20vw;
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.videoHero{
    /* position: absolute; */
    width: 100%;
    /* left: 50%;
    top: 50%; */
    height: 100%;
    /* object-fit: cover; */
    /* transform: translate(-50%,-50%); */
    /* z-index: -1; */
}
.logo{
    height: 10vh;
    width: 10vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.contenedorLogoNombre{
    display: flex;
    align-items: center;
}

.contenedorLogoNombre p{
    color: white;
    font-size: xx-large;
}

.containerHero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

}

.containerTexto{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.containerTexto h1, p.citiesCallToAction{
    font-size: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.containerTexto h2{
    padding: 1vh 1vw;
    font-size: 2vw;
}

p.citiesCallToAction{
    /* font-size: vw; */
    text-decoration: none;
    color: black;
}

.mainCallToAction{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 2vw 0px;
}

.divCallToAction{
    min-width: 80%;
    height: 50vh;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divCallToAction p{
    font-size: 5vw;
    /* padding-bottom: 0;
    margin-bottom: 0; */
    font-weight: bold;
    text-decoration: none;
}

.divLogoCallToAction{
    color: black;
    min-width: 15vw;
    min-height: 20vh;
    /* min-width: 100%;
    min-height: 100%; */
    /* background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
    /* padding-right: 1em; */
}

.buttonCallToAction{
    display: flex;
    align-items: center;
    /* background: none; */
    /* max-width: 30%;
    max-height: 80%; */
    /* border-radius:; */
    align-self: flex-start;
    margin-left: 2vw;
    border:1px solid black;
    padding-right: 1rem;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.521);
    text-decoration: none;
}

.containerCarrousel h2{
    color: white;
    text-align: center;
    padding: 1vw 0px;
}

.slideCarrousel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slideCity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.521);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 30vw;
    height: 40vh;
}

.slideCity:hover, .buttonCallToAction:hover {
    transform: scale(1.03);
    text-decoration: none;

}

.slideCity h3 {
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    width: 100%;
    text-align: center;
    padding: 2vh 0;
}

footer.footer{
    padding-top: 2em;
    min-height: 40vh;
    background-color: #343a40;
}

header.styleFooter{
    background: #343a40;
}

footer.footer header.styleFooter{
    background-color: #491b2559;
}

div ul.ul-fb li{
    display: block;
    margin: 0 0.5vw;
    width: 4vw;
    height: 4vw;
    text-align: center;
}

div ul.ul-fb li a{
    display: block;
    /* padding: 0 10px; */
    color: #fff;
    line-height: 4vw;
    font-size: 1.5vw;
    transition: .2s;
}

div ul.ul-fb li a:hover{
    transform: translateY(-3px) scale(1.05);
}

footer nav,div ul.ul-fb{
    padding: 0;
}

.facebook{
    background: #0572e6;
}

.instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}

footer div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div.container h2{
    color: white;
    font-size: 2.5vw;
}

#root{
    background-color: #343a40;
}

.gitHub{
    background: local;
}

.usuario{
    width: 2.5em;
    height: 2.5em;
    background-size: cover;
    border-radius: 100%;
    background-position: 50%;
}